body {
  font-family: "Segoe UI", "Cerebri Sans", "Source Code Pro", monospace;
  color: #394867;
  font-size: 14px;
}

h1 {
  margin-bottom: 4px;
  color: #fff5ea;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

span .active {
  color: #fff5ea;
  cursor: default;
}

span .active:hover {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.box {
  max-width: 700px;
  margin: 30px auto;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.current-loc-btn:hover {
  color: #394867;
}

.units {
  font-size: 18px;
  color: #fff5ea;
  position: relative;
  top: -15px;
  line-height: 1;
}

.weather-forecast {
  text-align: center;
}

#city {
  font-weight: 900;
}

#icon {
  width: 100px;
}

#current-temperature {
  font-size: 40px;
  font-weight: 900;
  color: #fff5ea;
}

#weather-details {
  margin-top: 20px;
}
